.default-theme {
  --theme-bg-default: #fcfcfc;
  --theme-bg-header: #000000;
  --theme-bg-footer: #000000;
  --theme-bg-surface: #ffffff;
  --theme-bg-surface-alt: #eeeeee;
  --theme-bg-primary: #0d6346;
  --theme-bg-secondary: #eaea3d;
  --theme-bg-subtle: #f5f5f5;
  --theme-bg-muted: #e0e0e0;
  --theme-fg-default: #000000;
  --theme-fg-on-accent: #ffffff;
  --theme-fg-on-header: #ffffff;
  --theme-fg-on-footer: #ffffff;
  --theme-fg-muted: #616161;
  --theme-fg-subtle: #9e9e9e;
  --theme-fg-link: #0d6346;
  --theme-button-primary-background: #0d6346;
  --theme-button-ghost-outline: #000000;
  --theme-button-ghost-text: #000000;
  --theme-border-width-button-ghost: 4;
  --theme-border-radius-button: 0;
  --theme-border-radius-card: 0;
  --theme-border-radius-input: 0;
  --theme-font-families-display: Monument Extended;
  --theme-font-families-body: Avenir;
  --theme-font-families-nav: Avenir;
  --theme-font-sizes-default: 16;
  --theme-font-display-text-9xl-weight-700-font-family: Monument Extended;
  --theme-font-display-text-9xl-weight-700-font-weight: Bold;
  --theme-font-display-text-9xl-weight-700-line-height: 144;
  --theme-font-display-text-9xl-weight-700-font-size: 128;
  --theme-font-display-text-9xl-weight-700-letter-spacing: 0;
  --theme-font-display-text-9xl-weight-700-paragraph-spacing: 0;
  --theme-font-display-text-9xl-weight-500-font-family: Monument Extended;
  --theme-font-display-text-9xl-weight-500-font-weight: Medium;
  --theme-font-display-text-9xl-weight-500-line-height: 144;
  --theme-font-display-text-9xl-weight-500-font-size: 128;
  --theme-font-display-text-9xl-weight-500-letter-spacing: 0;
  --theme-font-display-text-9xl-weight-500-paragraph-spacing: 0;
  --theme-font-display-text-9xl-weight-400-font-family: Monument Extended;
  --theme-font-display-text-9xl-weight-400-font-weight: Regular;
  --theme-font-display-text-9xl-weight-400-line-height: 144;
  --theme-font-display-text-9xl-weight-400-font-size: 128;
  --theme-font-display-text-9xl-weight-400-letter-spacing: 0;
  --theme-font-display-text-9xl-weight-400-paragraph-spacing: 0;
  --theme-font-display-text-9xl-weight-300-font-family: Monument Extended;
  --theme-font-display-text-9xl-weight-300-font-weight: Light;
  --theme-font-display-text-9xl-weight-300-line-height: 144;
  --theme-font-display-text-9xl-weight-300-font-size: 128;
  --theme-font-display-text-9xl-weight-300-letter-spacing: 0;
  --theme-font-display-text-9xl-weight-300-paragraph-spacing: 0;
  --theme-font-display-text-8xl-weight-700-font-family: Monument Extended;
  --theme-font-display-text-8xl-weight-700-font-weight: Bold;
  --theme-font-display-text-8xl-weight-700-line-height: 144;
  --theme-font-display-text-8xl-weight-700-font-size: 96;
  --theme-font-display-text-8xl-weight-700-letter-spacing: 0;
  --theme-font-display-text-8xl-weight-700-paragraph-spacing: 0;
  --theme-font-display-text-8xl-weight-500-font-family: Monument Extended;
  --theme-font-display-text-8xl-weight-500-font-weight: Medium;
  --theme-font-display-text-8xl-weight-500-line-height: 144;
  --theme-font-display-text-8xl-weight-500-font-size: 96;
  --theme-font-display-text-8xl-weight-500-letter-spacing: 0;
  --theme-font-display-text-8xl-weight-500-paragraph-spacing: 0;
  --theme-font-display-text-8xl-weight-400-font-family: Monument Extended;
  --theme-font-display-text-8xl-weight-400-font-weight: Regular;
  --theme-font-display-text-8xl-weight-400-line-height: 144;
  --theme-font-display-text-8xl-weight-400-font-size: 96;
  --theme-font-display-text-8xl-weight-400-letter-spacing: 0;
  --theme-font-display-text-8xl-weight-400-paragraph-spacing: 0;
  --theme-font-display-text-8xl-weight-300-font-family: Monument Extended;
  --theme-font-display-text-8xl-weight-300-font-weight: Light;
  --theme-font-display-text-8xl-weight-300-line-height: 144;
  --theme-font-display-text-8xl-weight-300-font-size: 96;
  --theme-font-display-text-8xl-weight-300-letter-spacing: 0;
  --theme-font-display-text-8xl-weight-300-paragraph-spacing: 0;
  --theme-font-display-text-7xl-weight-700-font-family: Monument Extended;
  --theme-font-display-text-7xl-weight-700-font-weight: Bold;
  --theme-font-display-text-7xl-weight-700-line-height: 144;
  --theme-font-display-text-7xl-weight-700-font-size: 72;
  --theme-font-display-text-7xl-weight-700-letter-spacing: 0;
  --theme-font-display-text-7xl-weight-700-paragraph-spacing: 0;
  --theme-font-display-text-7xl-weight-500-font-family: Monument Extended;
  --theme-font-display-text-7xl-weight-500-font-weight: Medium;
  --theme-font-display-text-7xl-weight-500-line-height: 144;
  --theme-font-display-text-7xl-weight-500-font-size: 72;
  --theme-font-display-text-7xl-weight-500-letter-spacing: 0;
  --theme-font-display-text-7xl-weight-500-paragraph-spacing: 0;
  --theme-font-display-text-7xl-weight-400-font-family: Monument Extended;
  --theme-font-display-text-7xl-weight-400-font-weight: Regular;
  --theme-font-display-text-7xl-weight-400-line-height: 144;
  --theme-font-display-text-7xl-weight-400-font-size: 72;
  --theme-font-display-text-7xl-weight-400-letter-spacing: 0;
  --theme-font-display-text-7xl-weight-400-paragraph-spacing: 0;
  --theme-font-display-text-7xl-weight-300-font-family: Monument Extended;
  --theme-font-display-text-7xl-weight-300-font-weight: Light;
  --theme-font-display-text-7xl-weight-300-line-height: 144;
  --theme-font-display-text-7xl-weight-300-font-size: 72;
  --theme-font-display-text-7xl-weight-300-letter-spacing: 0;
  --theme-font-display-text-7xl-weight-300-paragraph-spacing: 0;
  --theme-font-display-text-6xl-weight-700-font-family: Monument Extended;
  --theme-font-display-text-6xl-weight-700-font-weight: Bold;
  --theme-font-display-text-6xl-weight-700-line-height: 144;
  --theme-font-display-text-6xl-weight-700-font-size: 60;
  --theme-font-display-text-6xl-weight-700-letter-spacing: 0;
  --theme-font-display-text-6xl-weight-700-paragraph-spacing: 0;
  --theme-font-display-text-6xl-weight-500-font-family: Monument Extended;
  --theme-font-display-text-6xl-weight-500-font-weight: Medium;
  --theme-font-display-text-6xl-weight-500-line-height: 144;
  --theme-font-display-text-6xl-weight-500-font-size: 60;
  --theme-font-display-text-6xl-weight-500-letter-spacing: 0;
  --theme-font-display-text-6xl-weight-500-paragraph-spacing: 0;
  --theme-font-display-text-6xl-weight-400-font-family: Monument Extended;
  --theme-font-display-text-6xl-weight-400-font-weight: Regular;
  --theme-font-display-text-6xl-weight-400-line-height: 144;
  --theme-font-display-text-6xl-weight-400-font-size: 60;
  --theme-font-display-text-6xl-weight-400-letter-spacing: 0;
  --theme-font-display-text-6xl-weight-400-paragraph-spacing: 0;
  --theme-font-display-text-6xl-weight-300-font-family: Monument Extended;
  --theme-font-display-text-6xl-weight-300-font-weight: Light;
  --theme-font-display-text-6xl-weight-300-line-height: 144;
  --theme-font-display-text-6xl-weight-300-font-size: 60;
  --theme-font-display-text-6xl-weight-300-letter-spacing: 0;
  --theme-font-display-text-6xl-weight-300-paragraph-spacing: 0;
  --theme-font-display-text-5xl-weight-700-font-family: Monument Extended;
  --theme-font-display-text-5xl-weight-700-font-weight: Bold;
  --theme-font-display-text-5xl-weight-700-line-height: 120;
  --theme-font-display-text-5xl-weight-700-font-size: 48;
  --theme-font-display-text-5xl-weight-700-letter-spacing: 0;
  --theme-font-display-text-5xl-weight-700-paragraph-spacing: 0;
  --theme-font-display-text-5xl-weight-500-font-family: Monument Extended;
  --theme-font-display-text-5xl-weight-500-font-weight: Medium;
  --theme-font-display-text-5xl-weight-500-line-height: 120;
  --theme-font-display-text-5xl-weight-500-font-size: 48;
  --theme-font-display-text-5xl-weight-500-letter-spacing: 0;
  --theme-font-display-text-5xl-weight-500-paragraph-spacing: 0;
  --theme-font-display-text-5xl-weight-400-font-family: Monument Extended;
  --theme-font-display-text-5xl-weight-400-font-weight: Regular;
  --theme-font-display-text-5xl-weight-400-line-height: 120;
  --theme-font-display-text-5xl-weight-400-font-size: 48;
  --theme-font-display-text-5xl-weight-400-letter-spacing: 0;
  --theme-font-display-text-5xl-weight-400-paragraph-spacing: 0;
  --theme-font-display-text-5xl-weight-300-font-family: Monument Extended;
  --theme-font-display-text-5xl-weight-300-font-weight: Light;
  --theme-font-display-text-5xl-weight-300-line-height: 120;
  --theme-font-display-text-5xl-weight-300-font-size: 48;
  --theme-font-display-text-5xl-weight-300-letter-spacing: 0;
  --theme-font-display-text-5xl-weight-300-paragraph-spacing: 0;
  --theme-font-display-text-4xl-weight-700-font-family: Monument Extended;
  --theme-font-display-text-4xl-weight-700-font-weight: Bold;
  --theme-font-display-text-4xl-weight-700-line-height: 120;
  --theme-font-display-text-4xl-weight-700-font-size: 36;
  --theme-font-display-text-4xl-weight-700-letter-spacing: 0;
  --theme-font-display-text-4xl-weight-700-paragraph-spacing: 0;
  --theme-font-display-text-4xl-weight-500-font-family: Monument Extended;
  --theme-font-display-text-4xl-weight-500-font-weight: Medium;
  --theme-font-display-text-4xl-weight-500-line-height: 120;
  --theme-font-display-text-4xl-weight-500-font-size: 36;
  --theme-font-display-text-4xl-weight-500-letter-spacing: 0;
  --theme-font-display-text-4xl-weight-500-paragraph-spacing: 0;
  --theme-font-display-text-4xl-weight-400-font-family: Monument Extended;
  --theme-font-display-text-4xl-weight-400-font-weight: Regular;
  --theme-font-display-text-4xl-weight-400-line-height: 120;
  --theme-font-display-text-4xl-weight-400-font-size: 36;
  --theme-font-display-text-4xl-weight-400-letter-spacing: 0;
  --theme-font-display-text-4xl-weight-400-paragraph-spacing: 0;
  --theme-font-display-text-4xl-weight-300-font-family: Monument Extended;
  --theme-font-display-text-4xl-weight-300-font-weight: Light;
  --theme-font-display-text-4xl-weight-300-line-height: 120;
  --theme-font-display-text-4xl-weight-300-font-size: 36;
  --theme-font-display-text-4xl-weight-300-letter-spacing: 0;
  --theme-font-display-text-4xl-weight-300-paragraph-spacing: 0;
  --theme-font-display-text-3xl-weight-700-font-family: Monument Extended;
  --theme-font-display-text-3xl-weight-700-font-weight: Bold;
  --theme-font-display-text-3xl-weight-700-line-height: 120;
  --theme-font-display-text-3xl-weight-700-font-size: 30;
  --theme-font-display-text-3xl-weight-700-letter-spacing: 0;
  --theme-font-display-text-3xl-weight-700-paragraph-spacing: 0;
  --theme-font-display-text-3xl-weight-500-font-family: Monument Extended;
  --theme-font-display-text-3xl-weight-500-font-weight: Medium;
  --theme-font-display-text-3xl-weight-500-line-height: 120;
  --theme-font-display-text-3xl-weight-500-font-size: 30;
  --theme-font-display-text-3xl-weight-500-letter-spacing: 0;
  --theme-font-display-text-3xl-weight-500-paragraph-spacing: 0;
  --theme-font-display-text-3xl-weight-400-font-family: Monument Extended;
  --theme-font-display-text-3xl-weight-400-font-weight: Regular;
  --theme-font-display-text-3xl-weight-400-line-height: 120;
  --theme-font-display-text-3xl-weight-400-font-size: 30;
  --theme-font-display-text-3xl-weight-400-letter-spacing: 0;
  --theme-font-display-text-3xl-weight-400-paragraph-spacing: 0;
  --theme-font-display-text-3xl-weight-300-font-family: Monument Extended;
  --theme-font-display-text-3xl-weight-300-font-weight: Light;
  --theme-font-display-text-3xl-weight-300-line-height: 120;
  --theme-font-display-text-3xl-weight-300-font-size: 30;
  --theme-font-display-text-3xl-weight-300-letter-spacing: 0;
  --theme-font-display-text-3xl-weight-300-paragraph-spacing: 0;
  --theme-font-display-text-2xl-weight-700-font-family: Monument Extended;
  --theme-font-display-text-2xl-weight-700-font-weight: Bold;
  --theme-font-display-text-2xl-weight-700-line-height: 120;
  --theme-font-display-text-2xl-weight-700-font-size: 24;
  --theme-font-display-text-2xl-weight-700-letter-spacing: 0;
  --theme-font-display-text-2xl-weight-700-paragraph-spacing: 0;
  --theme-font-display-text-2xl-weight-500-font-family: Monument Extended;
  --theme-font-display-text-2xl-weight-500-font-weight: Medium;
  --theme-font-display-text-2xl-weight-500-line-height: 120;
  --theme-font-display-text-2xl-weight-500-font-size: 24;
  --theme-font-display-text-2xl-weight-500-letter-spacing: 0;
  --theme-font-display-text-2xl-weight-500-paragraph-spacing: 0;
  --theme-font-display-text-2xl-weight-400-font-family: Monument Extended;
  --theme-font-display-text-2xl-weight-400-font-weight: Regular;
  --theme-font-display-text-2xl-weight-400-line-height: 120;
  --theme-font-display-text-2xl-weight-400-font-size: 24;
  --theme-font-display-text-2xl-weight-400-letter-spacing: 0;
  --theme-font-display-text-2xl-weight-400-paragraph-spacing: 0;
  --theme-font-display-text-2xl-weight-300-font-family: Monument Extended;
  --theme-font-display-text-2xl-weight-300-font-weight: Light;
  --theme-font-display-text-2xl-weight-300-line-height: 120;
  --theme-font-display-text-2xl-weight-300-font-size: 24;
  --theme-font-display-text-2xl-weight-300-letter-spacing: 0;
  --theme-font-display-text-2xl-weight-300-paragraph-spacing: 0;
  --theme-font-display-text-xl-weight-700-font-family: Monument Extended;
  --theme-font-display-text-xl-weight-700-font-weight: Bold;
  --theme-font-display-text-xl-weight-700-line-height: 120;
  --theme-font-display-text-xl-weight-700-font-size: 20;
  --theme-font-display-text-xl-weight-700-letter-spacing: 0;
  --theme-font-display-text-xl-weight-700-paragraph-spacing: 0;
  --theme-font-display-text-xl-weight-500-font-family: Monument Extended;
  --theme-font-display-text-xl-weight-500-font-weight: Medium;
  --theme-font-display-text-xl-weight-500-line-height: 120;
  --theme-font-display-text-xl-weight-500-font-size: 20;
  --theme-font-display-text-xl-weight-500-letter-spacing: 0;
  --theme-font-display-text-xl-weight-500-paragraph-spacing: 0;
  --theme-font-display-text-xl-weight-400-font-family: Monument Extended;
  --theme-font-display-text-xl-weight-400-font-weight: Regular;
  --theme-font-display-text-xl-weight-400-line-height: 120;
  --theme-font-display-text-xl-weight-400-font-size: 20;
  --theme-font-display-text-xl-weight-400-letter-spacing: 0;
  --theme-font-display-text-xl-weight-400-paragraph-spacing: 0;
  --theme-font-display-text-xl-weight-300-font-family: Monument Extended;
  --theme-font-display-text-xl-weight-300-font-weight: Light;
  --theme-font-display-text-xl-weight-300-line-height: 120;
  --theme-font-display-text-xl-weight-300-font-size: 20;
  --theme-font-display-text-xl-weight-300-letter-spacing: 0;
  --theme-font-display-text-xl-weight-300-paragraph-spacing: 0;
  --theme-font-display-text-lg-weight-700-font-family: Monument Extended;
  --theme-font-display-text-lg-weight-700-font-weight: Bold;
  --theme-font-display-text-lg-weight-700-line-height: 120;
  --theme-font-display-text-lg-weight-700-font-size: 18;
  --theme-font-display-text-lg-weight-700-letter-spacing: 0;
  --theme-font-display-text-lg-weight-700-paragraph-spacing: 0;
  --theme-font-display-text-lg-weight-500-font-family: Monument Extended;
  --theme-font-display-text-lg-weight-500-font-weight: Medium;
  --theme-font-display-text-lg-weight-500-line-height: 120;
  --theme-font-display-text-lg-weight-500-font-size: 18;
  --theme-font-display-text-lg-weight-500-letter-spacing: 0;
  --theme-font-display-text-lg-weight-500-paragraph-spacing: 0;
  --theme-font-display-text-lg-weight-400-font-family: Monument Extended;
  --theme-font-display-text-lg-weight-400-font-weight: Regular;
  --theme-font-display-text-lg-weight-400-line-height: 120;
  --theme-font-display-text-lg-weight-400-font-size: 18;
  --theme-font-display-text-lg-weight-400-letter-spacing: 0;
  --theme-font-display-text-lg-weight-400-paragraph-spacing: 0;
  --theme-font-display-text-lg-weight-300-font-family: Monument Extended;
  --theme-font-display-text-lg-weight-300-font-weight: Light;
  --theme-font-display-text-lg-weight-300-line-height: 120;
  --theme-font-display-text-lg-weight-300-font-size: 18;
  --theme-font-display-text-lg-weight-300-letter-spacing: 0;
  --theme-font-display-text-lg-weight-300-paragraph-spacing: 0;
  --theme-font-display-text-base-weight-500-underline-font-family: Monument Extended;
  --theme-font-display-text-base-weight-500-underline-font-weight: Medium;
  --theme-font-display-text-base-weight-500-underline-line-height: 120;
  --theme-font-display-text-base-weight-500-underline-font-size: 16;
  --theme-font-display-text-base-weight-500-underline-letter-spacing: 0;
  --theme-font-display-text-base-weight-500-underline-paragraph-spacing: 0;
  --theme-font-display-text-base-weight-400-underline-font-family: Monument Extended;
  --theme-font-display-text-base-weight-400-underline-font-weight: Regular;
  --theme-font-display-text-base-weight-400-underline-line-height: 120;
  --theme-font-display-text-base-weight-400-underline-font-size: 16;
  --theme-font-display-text-base-weight-400-underline-letter-spacing: 0;
  --theme-font-display-text-base-weight-400-underline-paragraph-spacing: 0;
  --theme-font-display-text-base-font-semibold-line-through-font-family: Monument Extended;
  --theme-font-display-text-base-font-semibold-line-through-font-weight: Light;
  --theme-font-display-text-base-font-semibold-line-through-line-height: 120;
  --theme-font-display-text-base-font-semibold-line-through-font-size: 16;
  --theme-font-display-text-base-font-semibold-line-through-letter-spacing: 0;
  --theme-font-display-text-base-font-semibold-line-through-paragraph-spacing: 0;
  --theme-font-display-text-base-weight-700-font-family: Monument Extended;
  --theme-font-display-text-base-weight-700-font-weight: Bold;
  --theme-font-display-text-base-weight-700-line-height: 120;
  --theme-font-display-text-base-weight-700-font-size: 16;
  --theme-font-display-text-base-weight-700-letter-spacing: 0;
  --theme-font-display-text-base-weight-700-paragraph-spacing: 0;
  --theme-font-display-text-base-weight-500-font-family: Monument Extended;
  --theme-font-display-text-base-weight-500-font-weight: Medium;
  --theme-font-display-text-base-weight-500-line-height: 120;
  --theme-font-display-text-base-weight-500-font-size: 16;
  --theme-font-display-text-base-weight-500-letter-spacing: 0;
  --theme-font-display-text-base-weight-500-paragraph-spacing: 0;
  --theme-font-display-text-base-weight-400-font-family: Monument Extended;
  --theme-font-display-text-base-weight-400-font-weight: Regular;
  --theme-font-display-text-base-weight-400-line-height: 120;
  --theme-font-display-text-base-weight-400-font-size: 16;
  --theme-font-display-text-base-weight-400-letter-spacing: 0;
  --theme-font-display-text-base-weight-400-paragraph-spacing: 0;
  --theme-font-display-text-base-weight-300-font-family: Monument Extended;
  --theme-font-display-text-base-weight-300-font-weight: Light;
  --theme-font-display-text-base-weight-300-line-height: 120;
  --theme-font-display-text-base-weight-300-font-size: 16;
  --theme-font-display-text-base-weight-300-letter-spacing: 0;
  --theme-font-display-text-base-weight-300-paragraph-spacing: 0;
  --theme-font-display-text-sm-weight-700-font-family: Monument Extended;
  --theme-font-display-text-sm-weight-700-font-weight: Bold;
  --theme-font-display-text-sm-weight-700-line-height: 120;
  --theme-font-display-text-sm-weight-700-font-size: 14;
  --theme-font-display-text-sm-weight-700-letter-spacing: 0;
  --theme-font-display-text-sm-weight-700-paragraph-spacing: 0;
  --theme-font-display-text-sm-weight-500-font-family: Monument Extended;
  --theme-font-display-text-sm-weight-500-font-weight: Medium;
  --theme-font-display-text-sm-weight-500-line-height: 120;
  --theme-font-display-text-sm-weight-500-font-size: 14;
  --theme-font-display-text-sm-weight-500-letter-spacing: 0;
  --theme-font-display-text-sm-weight-500-paragraph-spacing: 0;
  --theme-font-display-text-sm-weight-400-font-family: Monument Extended;
  --theme-font-display-text-sm-weight-400-font-weight: Regular;
  --theme-font-display-text-sm-weight-400-line-height: 96;
  --theme-font-display-text-sm-weight-400-font-size: 14;
  --theme-font-display-text-sm-weight-400-letter-spacing: 0;
  --theme-font-display-text-sm-weight-400-paragraph-spacing: 0;
  --theme-font-display-text-sm-weight-300-font-family: Monument Extended;
  --theme-font-display-text-sm-weight-300-font-weight: Light;
  --theme-font-display-text-sm-weight-300-line-height: 120;
  --theme-font-display-text-sm-weight-300-font-size: 14;
  --theme-font-display-text-sm-weight-300-letter-spacing: 0;
  --theme-font-display-text-sm-weight-300-paragraph-spacing: 0;
  --theme-font-display-text-xs-weight-700-font-family: Monument Extended;
  --theme-font-display-text-xs-weight-700-font-weight: Bold;
  --theme-font-display-text-xs-weight-700-line-height: 120;
  --theme-font-display-text-xs-weight-700-font-size: 12;
  --theme-font-display-text-xs-weight-700-letter-spacing: 0;
  --theme-font-display-text-xs-weight-700-paragraph-spacing: 0;
  --theme-font-display-text-xs-weight-500-font-family: Monument Extended;
  --theme-font-display-text-xs-weight-500-font-weight: Medium;
  --theme-font-display-text-xs-weight-500-line-height: 120;
  --theme-font-display-text-xs-weight-500-font-size: 12;
  --theme-font-display-text-xs-weight-500-letter-spacing: 0;
  --theme-font-display-text-xs-weight-500-paragraph-spacing: 0;
  --theme-font-display-text-xs-weight-400-font-family: Monument Extended;
  --theme-font-display-text-xs-weight-400-font-weight: Regular;
  --theme-font-display-text-xs-weight-400-line-height: 120;
  --theme-font-display-text-xs-weight-400-font-size: 12;
  --theme-font-display-text-xs-weight-400-letter-spacing: 0;
  --theme-font-display-text-xs-weight-400-paragraph-spacing: 0;
  --theme-font-display-text-xs-weight-300-font-family: Monument Extended;
  --theme-font-display-text-xs-weight-300-font-weight: Light;
  --theme-font-display-text-xs-weight-300-line-height: 120;
  --theme-font-display-text-xs-weight-300-font-size: 12;
  --theme-font-display-text-xs-weight-300-letter-spacing: 0;
  --theme-font-display-text-xs-weight-300-paragraph-spacing: 0;
  --theme-font-body-text-9xl-weight-700-font-family: Avenir;
  --theme-font-body-text-9xl-weight-700-font-weight: Heavy;
  --theme-font-body-text-9xl-weight-700-line-height: 144;
  --theme-font-body-text-9xl-weight-700-font-size: 128;
  --theme-font-body-text-9xl-weight-700-letter-spacing: 0;
  --theme-font-body-text-9xl-weight-700-paragraph-spacing: 0;
  --theme-font-body-text-9xl-weight-500-font-family: Avenir;
  --theme-font-body-text-9xl-weight-500-font-weight: Roman;
  --theme-font-body-text-9xl-weight-500-line-height: 144;
  --theme-font-body-text-9xl-weight-500-font-size: 128;
  --theme-font-body-text-9xl-weight-500-letter-spacing: 0;
  --theme-font-body-text-9xl-weight-500-paragraph-spacing: 0;
  --theme-font-body-text-9xl-weight-400-font-family: Avenir;
  --theme-font-body-text-9xl-weight-400-font-weight: Book;
  --theme-font-body-text-9xl-weight-400-line-height: 144;
  --theme-font-body-text-9xl-weight-400-font-size: 128;
  --theme-font-body-text-9xl-weight-400-letter-spacing: 0;
  --theme-font-body-text-9xl-weight-400-paragraph-spacing: 0;
  --theme-font-body-text-9xl-weight-300-font-family: Avenir;
  --theme-font-body-text-9xl-weight-300-font-weight: Light;
  --theme-font-body-text-9xl-weight-300-line-height: 144;
  --theme-font-body-text-9xl-weight-300-font-size: 128;
  --theme-font-body-text-9xl-weight-300-letter-spacing: 0;
  --theme-font-body-text-9xl-weight-300-paragraph-spacing: 0;
  --theme-font-body-text-8xl-weight-700-font-family: Avenir;
  --theme-font-body-text-8xl-weight-700-font-weight: Heavy;
  --theme-font-body-text-8xl-weight-700-line-height: 144;
  --theme-font-body-text-8xl-weight-700-font-size: 96;
  --theme-font-body-text-8xl-weight-700-letter-spacing: 0;
  --theme-font-body-text-8xl-weight-700-paragraph-spacing: 0;
  --theme-font-body-text-8xl-weight-500-font-family: Avenir;
  --theme-font-body-text-8xl-weight-500-font-weight: Roman;
  --theme-font-body-text-8xl-weight-500-line-height: 144;
  --theme-font-body-text-8xl-weight-500-font-size: 96;
  --theme-font-body-text-8xl-weight-500-letter-spacing: 0;
  --theme-font-body-text-8xl-weight-500-paragraph-spacing: 0;
  --theme-font-body-text-8xl-weight-400-font-family: Avenir;
  --theme-font-body-text-8xl-weight-400-font-weight: Book;
  --theme-font-body-text-8xl-weight-400-line-height: 144;
  --theme-font-body-text-8xl-weight-400-font-size: 96;
  --theme-font-body-text-8xl-weight-400-letter-spacing: 0;
  --theme-font-body-text-8xl-weight-400-paragraph-spacing: 0;
  --theme-font-body-text-8xl-weight-300-font-family: Avenir;
  --theme-font-body-text-8xl-weight-300-font-weight: Light;
  --theme-font-body-text-8xl-weight-300-line-height: 144;
  --theme-font-body-text-8xl-weight-300-font-size: 96;
  --theme-font-body-text-8xl-weight-300-letter-spacing: 0;
  --theme-font-body-text-8xl-weight-300-paragraph-spacing: 0;
  --theme-font-body-text-7xl-weight-700-font-family: Avenir;
  --theme-font-body-text-7xl-weight-700-font-weight: Heavy;
  --theme-font-body-text-7xl-weight-700-line-height: 144;
  --theme-font-body-text-7xl-weight-700-font-size: 72;
  --theme-font-body-text-7xl-weight-700-letter-spacing: 0;
  --theme-font-body-text-7xl-weight-700-paragraph-spacing: 0;
  --theme-font-body-text-7xl-weight-500-font-family: Avenir;
  --theme-font-body-text-7xl-weight-500-font-weight: Roman;
  --theme-font-body-text-7xl-weight-500-line-height: 144;
  --theme-font-body-text-7xl-weight-500-font-size: 72;
  --theme-font-body-text-7xl-weight-500-letter-spacing: 0;
  --theme-font-body-text-7xl-weight-500-paragraph-spacing: 0;
  --theme-font-body-text-7xl-weight-400-font-family: Avenir;
  --theme-font-body-text-7xl-weight-400-font-weight: Book;
  --theme-font-body-text-7xl-weight-400-line-height: 144;
  --theme-font-body-text-7xl-weight-400-font-size: 72;
  --theme-font-body-text-7xl-weight-400-letter-spacing: 0;
  --theme-font-body-text-7xl-weight-400-paragraph-spacing: 0;
  --theme-font-body-text-7xl-weight-300-font-family: Avenir;
  --theme-font-body-text-7xl-weight-300-font-weight: Light;
  --theme-font-body-text-7xl-weight-300-line-height: 144;
  --theme-font-body-text-7xl-weight-300-font-size: 72;
  --theme-font-body-text-7xl-weight-300-letter-spacing: 0;
  --theme-font-body-text-7xl-weight-300-paragraph-spacing: 0;
  --theme-font-body-text-6xl-weight-700-font-family: Avenir;
  --theme-font-body-text-6xl-weight-700-font-weight: Heavy;
  --theme-font-body-text-6xl-weight-700-line-height: 144;
  --theme-font-body-text-6xl-weight-700-font-size: 60;
  --theme-font-body-text-6xl-weight-700-letter-spacing: 0;
  --theme-font-body-text-6xl-weight-700-paragraph-spacing: 0;
  --theme-font-body-text-6xl-weight-500-font-family: Avenir;
  --theme-font-body-text-6xl-weight-500-font-weight: Roman;
  --theme-font-body-text-6xl-weight-500-line-height: 144;
  --theme-font-body-text-6xl-weight-500-font-size: 60;
  --theme-font-body-text-6xl-weight-500-letter-spacing: 0;
  --theme-font-body-text-6xl-weight-500-paragraph-spacing: 0;
  --theme-font-body-text-6xl-weight-400-font-family: Avenir;
  --theme-font-body-text-6xl-weight-400-font-weight: Book;
  --theme-font-body-text-6xl-weight-400-line-height: 144;
  --theme-font-body-text-6xl-weight-400-font-size: 60;
  --theme-font-body-text-6xl-weight-400-letter-spacing: 0;
  --theme-font-body-text-6xl-weight-400-paragraph-spacing: 0;
  --theme-font-body-text-6xl-weight-300-font-family: Avenir;
  --theme-font-body-text-6xl-weight-300-font-weight: Light;
  --theme-font-body-text-6xl-weight-300-line-height: 144;
  --theme-font-body-text-6xl-weight-300-font-size: 60;
  --theme-font-body-text-6xl-weight-300-letter-spacing: 0;
  --theme-font-body-text-6xl-weight-300-paragraph-spacing: 0;
  --theme-font-body-text-5xl-weight-700-font-family: Avenir;
  --theme-font-body-text-5xl-weight-700-font-weight: Heavy;
  --theme-font-body-text-5xl-weight-700-line-height: 120;
  --theme-font-body-text-5xl-weight-700-font-size: 48;
  --theme-font-body-text-5xl-weight-700-letter-spacing: 0;
  --theme-font-body-text-5xl-weight-700-paragraph-spacing: 0;
  --theme-font-body-text-5xl-weight-500-font-family: Avenir;
  --theme-font-body-text-5xl-weight-500-font-weight: Roman;
  --theme-font-body-text-5xl-weight-500-line-height: 120;
  --theme-font-body-text-5xl-weight-500-font-size: 48;
  --theme-font-body-text-5xl-weight-500-letter-spacing: 0;
  --theme-font-body-text-5xl-weight-500-paragraph-spacing: 0;
  --theme-font-body-text-5xl-weight-400-font-family: Avenir;
  --theme-font-body-text-5xl-weight-400-font-weight: Book;
  --theme-font-body-text-5xl-weight-400-line-height: 120;
  --theme-font-body-text-5xl-weight-400-font-size: 48;
  --theme-font-body-text-5xl-weight-400-letter-spacing: 0;
  --theme-font-body-text-5xl-weight-400-paragraph-spacing: 0;
  --theme-font-body-text-5xl-weight-300-font-family: Avenir;
  --theme-font-body-text-5xl-weight-300-font-weight: Light;
  --theme-font-body-text-5xl-weight-300-line-height: 120;
  --theme-font-body-text-5xl-weight-300-font-size: 48;
  --theme-font-body-text-5xl-weight-300-letter-spacing: 0;
  --theme-font-body-text-5xl-weight-300-paragraph-spacing: 0;
  --theme-font-body-text-4xl-weight-700-font-family: Avenir;
  --theme-font-body-text-4xl-weight-700-font-weight: Heavy;
  --theme-font-body-text-4xl-weight-700-line-height: 120;
  --theme-font-body-text-4xl-weight-700-font-size: 36;
  --theme-font-body-text-4xl-weight-700-letter-spacing: 0;
  --theme-font-body-text-4xl-weight-700-paragraph-spacing: 0;
  --theme-font-body-text-4xl-weight-500-font-family: Avenir;
  --theme-font-body-text-4xl-weight-500-font-weight: Roman;
  --theme-font-body-text-4xl-weight-500-line-height: 120;
  --theme-font-body-text-4xl-weight-500-font-size: 36;
  --theme-font-body-text-4xl-weight-500-letter-spacing: 0;
  --theme-font-body-text-4xl-weight-500-paragraph-spacing: 0;
  --theme-font-body-text-4xl-weight-400-font-family: Avenir;
  --theme-font-body-text-4xl-weight-400-font-weight: Book;
  --theme-font-body-text-4xl-weight-400-line-height: 120;
  --theme-font-body-text-4xl-weight-400-font-size: 36;
  --theme-font-body-text-4xl-weight-400-letter-spacing: 0;
  --theme-font-body-text-4xl-weight-400-paragraph-spacing: 0;
  --theme-font-body-text-4xl-weight-300-font-family: Avenir;
  --theme-font-body-text-4xl-weight-300-font-weight: Light;
  --theme-font-body-text-4xl-weight-300-line-height: 120;
  --theme-font-body-text-4xl-weight-300-font-size: 36;
  --theme-font-body-text-4xl-weight-300-letter-spacing: 0;
  --theme-font-body-text-4xl-weight-300-paragraph-spacing: 0;
  --theme-font-body-text-3xl-weight-700-font-family: Avenir;
  --theme-font-body-text-3xl-weight-700-font-weight: Heavy;
  --theme-font-body-text-3xl-weight-700-line-height: 120;
  --theme-font-body-text-3xl-weight-700-font-size: 30;
  --theme-font-body-text-3xl-weight-700-letter-spacing: 0;
  --theme-font-body-text-3xl-weight-700-paragraph-spacing: 0;
  --theme-font-body-text-3xl-weight-500-font-family: Avenir;
  --theme-font-body-text-3xl-weight-500-font-weight: Roman;
  --theme-font-body-text-3xl-weight-500-line-height: 120;
  --theme-font-body-text-3xl-weight-500-font-size: 30;
  --theme-font-body-text-3xl-weight-500-letter-spacing: 0;
  --theme-font-body-text-3xl-weight-500-paragraph-spacing: 0;
  --theme-font-body-text-3xl-weight-400-font-family: Avenir;
  --theme-font-body-text-3xl-weight-400-font-weight: Book;
  --theme-font-body-text-3xl-weight-400-line-height: 120;
  --theme-font-body-text-3xl-weight-400-font-size: 30;
  --theme-font-body-text-3xl-weight-400-letter-spacing: 0;
  --theme-font-body-text-3xl-weight-400-paragraph-spacing: 0;
  --theme-font-body-text-3xl-weight-300-font-family: Avenir;
  --theme-font-body-text-3xl-weight-300-font-weight: Light;
  --theme-font-body-text-3xl-weight-300-line-height: 120;
  --theme-font-body-text-3xl-weight-300-font-size: 30;
  --theme-font-body-text-3xl-weight-300-letter-spacing: 0;
  --theme-font-body-text-3xl-weight-300-paragraph-spacing: 0;
  --theme-font-body-text-2xl-weight-700-font-family: Avenir;
  --theme-font-body-text-2xl-weight-700-font-weight: Heavy;
  --theme-font-body-text-2xl-weight-700-line-height: 120;
  --theme-font-body-text-2xl-weight-700-font-size: 24;
  --theme-font-body-text-2xl-weight-700-letter-spacing: 0;
  --theme-font-body-text-2xl-weight-700-paragraph-spacing: 0;
  --theme-font-body-text-2xl-weight-500-font-family: Avenir;
  --theme-font-body-text-2xl-weight-500-font-weight: Roman;
  --theme-font-body-text-2xl-weight-500-line-height: 120;
  --theme-font-body-text-2xl-weight-500-font-size: 24;
  --theme-font-body-text-2xl-weight-500-letter-spacing: 0;
  --theme-font-body-text-2xl-weight-500-paragraph-spacing: 0;
  --theme-font-body-text-2xl-weight-400-font-family: Avenir;
  --theme-font-body-text-2xl-weight-400-font-weight: Book;
  --theme-font-body-text-2xl-weight-400-line-height: 120;
  --theme-font-body-text-2xl-weight-400-font-size: 24;
  --theme-font-body-text-2xl-weight-400-letter-spacing: 0;
  --theme-font-body-text-2xl-weight-400-paragraph-spacing: 0;
  --theme-font-body-text-2xl-weight-300-font-family: Avenir;
  --theme-font-body-text-2xl-weight-300-font-weight: Light;
  --theme-font-body-text-2xl-weight-300-line-height: 120;
  --theme-font-body-text-2xl-weight-300-font-size: 24;
  --theme-font-body-text-2xl-weight-300-letter-spacing: 0;
  --theme-font-body-text-2xl-weight-300-paragraph-spacing: 0;
  --theme-font-body-text-xl-weight-700-font-family: Avenir;
  --theme-font-body-text-xl-weight-700-font-weight: Heavy;
  --theme-font-body-text-xl-weight-700-line-height: 120;
  --theme-font-body-text-xl-weight-700-font-size: 20;
  --theme-font-body-text-xl-weight-700-letter-spacing: 0;
  --theme-font-body-text-xl-weight-700-paragraph-spacing: 0;
  --theme-font-body-text-xl-weight-500-font-family: Avenir;
  --theme-font-body-text-xl-weight-500-font-weight: Roman;
  --theme-font-body-text-xl-weight-500-line-height: 120;
  --theme-font-body-text-xl-weight-500-font-size: 20;
  --theme-font-body-text-xl-weight-500-letter-spacing: 0;
  --theme-font-body-text-xl-weight-500-paragraph-spacing: 0;
  --theme-font-body-text-xl-weight-400-font-family: Avenir;
  --theme-font-body-text-xl-weight-400-font-weight: Book;
  --theme-font-body-text-xl-weight-400-line-height: 120;
  --theme-font-body-text-xl-weight-400-font-size: 20;
  --theme-font-body-text-xl-weight-400-letter-spacing: 0;
  --theme-font-body-text-xl-weight-400-paragraph-spacing: 0;
  --theme-font-body-text-xl-weight-300-font-family: Avenir;
  --theme-font-body-text-xl-weight-300-font-weight: Light;
  --theme-font-body-text-xl-weight-300-line-height: 120;
  --theme-font-body-text-xl-weight-300-font-size: 20;
  --theme-font-body-text-xl-weight-300-letter-spacing: 0;
  --theme-font-body-text-xl-weight-300-paragraph-spacing: 0;
  --theme-font-body-text-lg-weight-700-font-family: Avenir;
  --theme-font-body-text-lg-weight-700-font-weight: Heavy;
  --theme-font-body-text-lg-weight-700-line-height: 120;
  --theme-font-body-text-lg-weight-700-font-size: 18;
  --theme-font-body-text-lg-weight-700-letter-spacing: 0;
  --theme-font-body-text-lg-weight-700-paragraph-spacing: 0;
  --theme-font-body-text-lg-weight-500-font-family: Avenir;
  --theme-font-body-text-lg-weight-500-font-weight: Roman;
  --theme-font-body-text-lg-weight-500-line-height: 120;
  --theme-font-body-text-lg-weight-500-font-size: 18;
  --theme-font-body-text-lg-weight-500-letter-spacing: 0;
  --theme-font-body-text-lg-weight-500-paragraph-spacing: 0;
  --theme-font-body-text-lg-weight-400-font-family: Avenir;
  --theme-font-body-text-lg-weight-400-font-weight: Book;
  --theme-font-body-text-lg-weight-400-line-height: 120;
  --theme-font-body-text-lg-weight-400-font-size: 18;
  --theme-font-body-text-lg-weight-400-letter-spacing: 0;
  --theme-font-body-text-lg-weight-400-paragraph-spacing: 0;
  --theme-font-body-text-lg-weight-300-font-family: Avenir;
  --theme-font-body-text-lg-weight-300-font-weight: Light;
  --theme-font-body-text-lg-weight-300-line-height: 120;
  --theme-font-body-text-lg-weight-300-font-size: 18;
  --theme-font-body-text-lg-weight-300-letter-spacing: 0;
  --theme-font-body-text-lg-weight-300-paragraph-spacing: 0;
  --theme-font-body-text-base-weight-500-underline-font-family: Avenir;
  --theme-font-body-text-base-weight-500-underline-font-weight: Roman;
  --theme-font-body-text-base-weight-500-underline-line-height: 120;
  --theme-font-body-text-base-weight-500-underline-font-size: 16;
  --theme-font-body-text-base-weight-500-underline-letter-spacing: 0;
  --theme-font-body-text-base-weight-500-underline-paragraph-spacing: 0;
  --theme-font-body-text-base-weight-400-underline-font-family: Avenir;
  --theme-font-body-text-base-weight-400-underline-font-weight: Book;
  --theme-font-body-text-base-weight-400-underline-line-height: 120;
  --theme-font-body-text-base-weight-400-underline-font-size: 16;
  --theme-font-body-text-base-weight-400-underline-letter-spacing: 0;
  --theme-font-body-text-base-weight-400-underline-paragraph-spacing: 0;
  --theme-font-body-text-base-weight-300-line-through-font-family: Avenir;
  --theme-font-body-text-base-weight-300-line-through-font-weight: Light;
  --theme-font-body-text-base-weight-300-line-through-line-height: 120;
  --theme-font-body-text-base-weight-300-line-through-font-size: 16;
  --theme-font-body-text-base-weight-300-line-through-letter-spacing: 0;
  --theme-font-body-text-base-weight-300-line-through-paragraph-spacing: 0;
  --theme-font-body-text-base-weight-700-font-family: Avenir;
  --theme-font-body-text-base-weight-700-font-weight: Heavy;
  --theme-font-body-text-base-weight-700-line-height: 120;
  --theme-font-body-text-base-weight-700-font-size: 16;
  --theme-font-body-text-base-weight-700-letter-spacing: 0;
  --theme-font-body-text-base-weight-700-paragraph-spacing: 0;
  --theme-font-body-text-base-weight-500-font-family: Avenir;
  --theme-font-body-text-base-weight-500-font-weight: Roman;
  --theme-font-body-text-base-weight-500-line-height: 120;
  --theme-font-body-text-base-weight-500-font-size: 16;
  --theme-font-body-text-base-weight-500-letter-spacing: 0;
  --theme-font-body-text-base-weight-500-paragraph-spacing: 0;
  --theme-font-body-text-base-weight-400-font-family: Avenir;
  --theme-font-body-text-base-weight-400-font-weight: Book;
  --theme-font-body-text-base-weight-400-line-height: 120;
  --theme-font-body-text-base-weight-400-font-size: 16;
  --theme-font-body-text-base-weight-400-letter-spacing: 0;
  --theme-font-body-text-base-weight-400-paragraph-spacing: 0;
  --theme-font-body-text-base-weight-300-font-family: Avenir;
  --theme-font-body-text-base-weight-300-font-weight: Light;
  --theme-font-body-text-base-weight-300-line-height: 120;
  --theme-font-body-text-base-weight-300-font-size: 16;
  --theme-font-body-text-base-weight-300-letter-spacing: 0;
  --theme-font-body-text-base-weight-300-paragraph-spacing: 0;
  --theme-font-body-text-sm-weight-700-font-family: Avenir;
  --theme-font-body-text-sm-weight-700-font-weight: Heavy;
  --theme-font-body-text-sm-weight-700-line-height: 120;
  --theme-font-body-text-sm-weight-700-font-size: 14;
  --theme-font-body-text-sm-weight-700-letter-spacing: 0;
  --theme-font-body-text-sm-weight-700-paragraph-spacing: 0;
  --theme-font-body-text-sm-weight-500-font-family: Avenir;
  --theme-font-body-text-sm-weight-500-font-weight: Roman;
  --theme-font-body-text-sm-weight-500-line-height: 120;
  --theme-font-body-text-sm-weight-500-font-size: 14;
  --theme-font-body-text-sm-weight-500-letter-spacing: 0;
  --theme-font-body-text-sm-weight-500-paragraph-spacing: 0;
  --theme-font-body-text-sm-weight-400-font-family: Avenir;
  --theme-font-body-text-sm-weight-400-font-weight: Book;
  --theme-font-body-text-sm-weight-400-line-height: 96;
  --theme-font-body-text-sm-weight-400-font-size: 14;
  --theme-font-body-text-sm-weight-400-letter-spacing: 0;
  --theme-font-body-text-sm-weight-400-paragraph-spacing: 0;
  --theme-font-body-text-sm-weight-300-font-family: Avenir;
  --theme-font-body-text-sm-weight-300-font-weight: Light;
  --theme-font-body-text-sm-weight-300-line-height: 120;
  --theme-font-body-text-sm-weight-300-font-size: 14;
  --theme-font-body-text-sm-weight-300-letter-spacing: 0;
  --theme-font-body-text-sm-weight-300-paragraph-spacing: 0;
  --theme-font-body-text-xs-weight-700-font-family: Avenir;
  --theme-font-body-text-xs-weight-700-font-weight: Heavy;
  --theme-font-body-text-xs-weight-700-line-height: 120;
  --theme-font-body-text-xs-weight-700-font-size: 12;
  --theme-font-body-text-xs-weight-700-letter-spacing: 0;
  --theme-font-body-text-xs-weight-700-paragraph-spacing: 0;
  --theme-font-body-text-xs-weight-500-font-family: Avenir;
  --theme-font-body-text-xs-weight-500-font-weight: Roman;
  --theme-font-body-text-xs-weight-500-line-height: 120;
  --theme-font-body-text-xs-weight-500-font-size: 12;
  --theme-font-body-text-xs-weight-500-letter-spacing: 0;
  --theme-font-body-text-xs-weight-500-paragraph-spacing: 0;
  --theme-font-body-text-xs-weight-400-font-family: Avenir;
  --theme-font-body-text-xs-weight-400-font-weight: Book;
  --theme-font-body-text-xs-weight-400-line-height: 120;
  --theme-font-body-text-xs-weight-400-font-size: 12;
  --theme-font-body-text-xs-weight-400-letter-spacing: 0;
  --theme-font-body-text-xs-weight-400-paragraph-spacing: 0;
  --theme-font-body-text-xs-weight-300-font-family: Avenir;
  --theme-font-body-text-xs-weight-300-font-weight: Light;
  --theme-font-body-text-xs-weight-300-line-height: 120;
  --theme-font-body-text-xs-weight-300-font-size: 12;
  --theme-font-body-text-xs-weight-300-letter-spacing: 0;
  --theme-font-body-text-xs-weight-300-paragraph-spacing: 0;
}