.default-theme {
  --theme-bg-default: #fcfcfc;
  --theme-bg-header: #09412e;
  --theme-bg-footer: #000;
  --theme-bg-surface: #ffffff;
  --theme-bg-surface-alt: #eeeeee;
  --theme-bg-primary: #0d6346;
  --theme-bg-secondary: #eaea3d;
  --theme-bg-subtle: #f5f5f5;
  --theme-bg-muted: #e0e0e0;
  --theme-fg-default: #000;
  --theme-fg-on-accent: #ffffff;
  --theme-fg-on-header: #ffffff;
  --theme-fg-on-footer: #ffffff;
  --theme-fg-muted: #616161;
  --theme-fg-subtle: #9e9e9e;
  --theme-fg-link: #0d6346;
  --theme-button-primary-background: #0d6346;
  --theme-button-ghost-outline: #000;
  --theme-button-ghost-text: #000;
  --theme-border-width-button-ghost: 4;
  --theme-border-radius-button: 0;
  --theme-border-radius-card: 0;
  --theme-border-radius-input: 0;
  --theme-font-families-heading: Arial;
  --theme-font-families-body: Avenir;
  --theme-font-families-nav: Avenir;
  --theme-font-sizes-default: 16;
  --theme-colossus140-family-1-bold-font-family: Arial;
  --theme-colossus140-family-1-bold-font-weight: Bold;
  --theme-colossus140-family-1-bold-line-height: 144;
  --theme-colossus140-family-1-bold-font-size: 140;
  --theme-colossus140-family-1-bold-letter-spacing: 0;
  --theme-colossus140-family-1-bold-paragraph-spacing: 0;
  --theme-colossus140-family-1-regular-font-family: Arial;
  --theme-colossus140-family-1-regular-font-weight: Regular;
  --theme-colossus140-family-1-regular-line-height: 144;
  --theme-colossus140-family-1-regular-font-size: 140;
  --theme-colossus140-family-1-regular-letter-spacing: 0;
  --theme-colossus140-family-1-regular-paragraph-spacing: 0;
  --theme-colossus140-family-2-bold-font-family: Avenir;
  --theme-colossus140-family-2-bold-font-weight: Heavy;
  --theme-colossus140-family-2-bold-line-height: 144;
  --theme-colossus140-family-2-bold-font-size: 140;
  --theme-colossus140-family-2-bold-letter-spacing: 0;
  --theme-colossus140-family-2-bold-paragraph-spacing: 0;
  --theme-colossus140-family-2-regular-font-family: Avenir;
  --theme-colossus140-family-2-regular-font-weight: Book;
  --theme-colossus140-family-2-regular-line-height: 144;
  --theme-colossus140-family-2-regular-font-size: 140;
  --theme-colossus140-family-2-regular-letter-spacing: 0;
  --theme-colossus140-family-2-regular-paragraph-spacing: 0;
  --theme-uber-112-family-1-bold-font-family: Arial;
  --theme-uber-112-family-1-bold-font-weight: Bold;
  --theme-uber-112-family-1-bold-line-height: 120;
  --theme-uber-112-family-1-bold-font-size: 112;
  --theme-uber-112-family-1-bold-letter-spacing: 0;
  --theme-uber-112-family-1-bold-paragraph-spacing: 0;
  --theme-uber-112-family-1-regular-font-family: Arial;
  --theme-uber-112-family-1-regular-font-weight: Regular;
  --theme-uber-112-family-1-regular-line-height: 120;
  --theme-uber-112-family-1-regular-font-size: 112;
  --theme-uber-112-family-1-regular-letter-spacing: 0;
  --theme-uber-112-family-1-regular-paragraph-spacing: 0;
  --theme-uber-112-family-2-bold-font-family: Avenir;
  --theme-uber-112-family-2-bold-font-weight: Heavy;
  --theme-uber-112-family-2-bold-line-height: 120;
  --theme-uber-112-family-2-bold-font-size: 112;
  --theme-uber-112-family-2-bold-letter-spacing: 0;
  --theme-uber-112-family-2-bold-paragraph-spacing: 0;
  --theme-uber-112-family-2-regular-font-family: Avenir;
  --theme-uber-112-family-2-regular-font-weight: Book;
  --theme-uber-112-family-2-regular-line-height: 120;
  --theme-uber-112-family-2-regular-font-size: 112;
  --theme-uber-112-family-2-regular-letter-spacing: 0;
  --theme-uber-112-family-2-regular-paragraph-spacing: 0;
  --theme-hero-80-family-1-bold-font-family: Arial;
  --theme-hero-80-family-1-bold-font-weight: Bold;
  --theme-hero-80-family-1-bold-line-height: 96;
  --theme-hero-80-family-1-bold-font-size: 80;
  --theme-hero-80-family-1-bold-letter-spacing: 0;
  --theme-hero-80-family-1-bold-paragraph-spacing: 0;
  --theme-hero-80-family-1-regular-font-family: Arial;
  --theme-hero-80-family-1-regular-font-weight: Regular;
  --theme-hero-80-family-1-regular-line-height: 96;
  --theme-hero-80-family-1-regular-font-size: 80;
  --theme-hero-80-family-1-regular-letter-spacing: 0;
  --theme-hero-80-family-1-regular-paragraph-spacing: 0;
  --theme-hero-80-family-2-bold-font-family: Avenir;
  --theme-hero-80-family-2-bold-font-weight: Heavy;
  --theme-hero-80-family-2-bold-line-height: 96;
  --theme-hero-80-family-2-bold-font-size: 80;
  --theme-hero-80-family-2-bold-letter-spacing: 0;
  --theme-hero-80-family-2-bold-paragraph-spacing: 0;
  --theme-hero-80-family-2-regular-font-family: Avenir;
  --theme-hero-80-family-2-regular-font-weight: Book;
  --theme-hero-80-family-2-regular-line-height: 96;
  --theme-hero-80-family-2-regular-font-size: 80;
  --theme-hero-80-family-2-regular-letter-spacing: 0;
  --theme-hero-80-family-2-regular-paragraph-spacing: 0;
  --theme-display-64-family-1-bold-font-family: Arial;
  --theme-display-64-family-1-bold-font-weight: Bold;
  --theme-display-64-family-1-bold-line-height: 80;
  --theme-display-64-family-1-bold-font-size: 64;
  --theme-display-64-family-1-bold-letter-spacing: 0;
  --theme-display-64-family-1-bold-paragraph-spacing: 0;
  --theme-display-64-family-1-regular-font-family: Arial;
  --theme-display-64-family-1-regular-font-weight: Regular;
  --theme-display-64-family-1-regular-line-height: 80;
  --theme-display-64-family-1-regular-font-size: 64;
  --theme-display-64-family-1-regular-letter-spacing: 0;
  --theme-display-64-family-1-regular-paragraph-spacing: 0;
  --theme-display-64-family-2-bold-font-family: Avenir;
  --theme-display-64-family-2-bold-font-weight: Heavy;
  --theme-display-64-family-2-bold-line-height: 80;
  --theme-display-64-family-2-bold-font-size: 64;
  --theme-display-64-family-2-bold-letter-spacing: 0;
  --theme-display-64-family-2-bold-paragraph-spacing: 0;
  --theme-display-64-family-2-regular-font-family: Avenir;
  --theme-display-64-family-2-regular-font-weight: Book;
  --theme-display-64-family-2-regular-line-height: 80;
  --theme-display-64-family-2-regular-font-size: 64;
  --theme-display-64-family-2-regular-letter-spacing: 0;
  --theme-display-64-family-2-regular-paragraph-spacing: 0;
  --theme-headline-48-family-1-bold-font-family: Arial;
  --theme-headline-48-family-1-bold-font-weight: Bold;
  --theme-headline-48-family-1-bold-line-height: 60;
  --theme-headline-48-family-1-bold-font-size: 48;
  --theme-headline-48-family-1-bold-letter-spacing: 0;
  --theme-headline-48-family-1-bold-paragraph-spacing: 0;
  --theme-headline-48-family-1-regular-font-family: Arial;
  --theme-headline-48-family-1-regular-font-weight: Regular;
  --theme-headline-48-family-1-regular-line-height: 60;
  --theme-headline-48-family-1-regular-font-size: 48;
  --theme-headline-48-family-1-regular-letter-spacing: 0;
  --theme-headline-48-family-1-regular-paragraph-spacing: 0;
  --theme-headline-48-family-2-bold-font-family: Avenir;
  --theme-headline-48-family-2-bold-font-weight: Heavy;
  --theme-headline-48-family-2-bold-line-height: 60;
  --theme-headline-48-family-2-bold-font-size: 48;
  --theme-headline-48-family-2-bold-letter-spacing: 0;
  --theme-headline-48-family-2-bold-paragraph-spacing: 0;
  --theme-headline-48-family-2-regular-font-family: Avenir;
  --theme-headline-48-family-2-regular-font-weight: Book;
  --theme-headline-48-family-2-regular-line-height: 60;
  --theme-headline-48-family-2-regular-font-size: 48;
  --theme-headline-48-family-2-regular-letter-spacing: 0;
  --theme-headline-48-family-2-regular-paragraph-spacing: 0;
  --theme-headline-37-family-1-bold-font-family: Arial;
  --theme-headline-37-family-1-bold-font-weight: Bold;
  --theme-headline-37-family-1-bold-line-height: 52;
  --theme-headline-37-family-1-bold-font-size: 37;
  --theme-headline-37-family-1-bold-letter-spacing: 0;
  --theme-headline-37-family-1-bold-paragraph-spacing: 0;
  --theme-headline-37-family-1-regular-font-family: Arial;
  --theme-headline-37-family-1-regular-font-weight: Regular;
  --theme-headline-37-family-1-regular-line-height: 52;
  --theme-headline-37-family-1-regular-font-size: 37;
  --theme-headline-37-family-1-regular-letter-spacing: 0;
  --theme-headline-37-family-1-regular-paragraph-spacing: 0;
  --theme-headline-37-family-2-bold-font-family: Avenir;
  --theme-headline-37-family-2-bold-font-weight: Heavy;
  --theme-headline-37-family-2-bold-line-height: 52;
  --theme-headline-37-family-2-bold-font-size: 37;
  --theme-headline-37-family-2-bold-letter-spacing: 0;
  --theme-headline-37-family-2-bold-paragraph-spacing: 0;
  --theme-headline-37-family-2-regular-font-family: Avenir;
  --theme-headline-37-family-2-regular-font-weight: Book;
  --theme-headline-37-family-2-regular-line-height: 52;
  --theme-headline-37-family-2-regular-font-size: 37;
  --theme-headline-37-family-2-regular-letter-spacing: 0;
  --theme-headline-37-family-2-regular-paragraph-spacing: 0;
  --theme-headline-31-family-1-bold-font-family: Arial;
  --theme-headline-31-family-1-bold-font-weight: Bold;
  --theme-headline-31-family-1-bold-line-height: 48;
  --theme-headline-31-family-1-bold-font-size: 31;
  --theme-headline-31-family-1-bold-letter-spacing: 0;
  --theme-headline-31-family-1-bold-paragraph-spacing: 0;
  --theme-headline-31-family-1-regular-font-family: Arial;
  --theme-headline-31-family-1-regular-font-weight: Regular;
  --theme-headline-31-family-1-regular-line-height: 48;
  --theme-headline-31-family-1-regular-font-size: 31;
  --theme-headline-31-family-1-regular-letter-spacing: 0;
  --theme-headline-31-family-1-regular-paragraph-spacing: 0;
  --theme-headline-31-family-2-bold-font-family: Avenir;
  --theme-headline-31-family-2-bold-font-weight: Heavy;
  --theme-headline-31-family-2-bold-line-height: 48;
  --theme-headline-31-family-2-bold-font-size: 31;
  --theme-headline-31-family-2-bold-letter-spacing: 0;
  --theme-headline-31-family-2-bold-paragraph-spacing: 0;
  --theme-headline-31-family-2-regular-font-family: Avenir;
  --theme-headline-31-family-2-regular-font-weight: Book;
  --theme-headline-31-family-2-regular-line-height: 48;
  --theme-headline-31-family-2-regular-font-size: 31;
  --theme-headline-31-family-2-regular-letter-spacing: 0;
  --theme-headline-31-family-2-regular-paragraph-spacing: 0;
  --theme-headline-26-family-1-bold-font-family: Arial;
  --theme-headline-26-family-1-bold-font-weight: Bold;
  --theme-headline-26-family-1-bold-line-height: 40;
  --theme-headline-26-family-1-bold-font-size: 26;
  --theme-headline-26-family-1-bold-letter-spacing: 0;
  --theme-headline-26-family-1-bold-paragraph-spacing: 0;
  --theme-headline-26-family-1-regular-font-family: Arial;
  --theme-headline-26-family-1-regular-font-weight: Regular;
  --theme-headline-26-family-1-regular-line-height: 40;
  --theme-headline-26-family-1-regular-font-size: 26;
  --theme-headline-26-family-1-regular-letter-spacing: 0;
  --theme-headline-26-family-1-regular-paragraph-spacing: 0;
  --theme-headline-26-family-2-bold-font-family: Avenir;
  --theme-headline-26-family-2-bold-font-weight: Heavy;
  --theme-headline-26-family-2-bold-line-height: 40;
  --theme-headline-26-family-2-bold-font-size: 26;
  --theme-headline-26-family-2-bold-letter-spacing: 0;
  --theme-headline-26-family-2-bold-paragraph-spacing: 0;
  --theme-headline-26-family-2-regular-font-family: Avenir;
  --theme-headline-26-family-2-regular-font-weight: Book;
  --theme-headline-26-family-2-regular-line-height: 40;
  --theme-headline-26-family-2-regular-font-size: 26;
  --theme-headline-26-family-2-regular-letter-spacing: 0;
  --theme-headline-26-family-2-regular-paragraph-spacing: 0;
  --theme-headline-21-family-1-bold-font-family: Arial;
  --theme-headline-21-family-1-bold-font-weight: Bold;
  --theme-headline-21-family-1-bold-line-height: 32;
  --theme-headline-21-family-1-bold-font-size: 21;
  --theme-headline-21-family-1-bold-letter-spacing: 0;
  --theme-headline-21-family-1-bold-paragraph-spacing: 0;
  --theme-headline-21-family-1-regular-font-family: Arial;
  --theme-headline-21-family-1-regular-font-weight: Regular;
  --theme-headline-21-family-1-regular-line-height: 32;
  --theme-headline-21-family-1-regular-font-size: 21;
  --theme-headline-21-family-1-regular-letter-spacing: 0;
  --theme-headline-21-family-1-regular-paragraph-spacing: 0;
  --theme-headline-21-family-2-bold-font-family: Avenir;
  --theme-headline-21-family-2-bold-font-weight: Heavy;
  --theme-headline-21-family-2-bold-line-height: 32;
  --theme-headline-21-family-2-bold-font-size: 21;
  --theme-headline-21-family-2-bold-letter-spacing: 0;
  --theme-headline-21-family-2-bold-paragraph-spacing: 0;
  --theme-headline-21-family-2-regular-font-family: Avenir;
  --theme-headline-21-family-2-regular-font-weight: Book;
  --theme-headline-21-family-2-regular-line-height: 32;
  --theme-headline-21-family-2-regular-font-size: 21;
  --theme-headline-21-family-2-regular-letter-spacing: 0;
  --theme-headline-21-family-2-regular-paragraph-spacing: 0;
  --theme-lead-24-family-1-bold-font-family: Arial;
  --theme-lead-24-family-1-bold-font-weight: Bold;
  --theme-lead-24-family-1-bold-line-height: 36;
  --theme-lead-24-family-1-bold-font-size: 24;
  --theme-lead-24-family-1-bold-letter-spacing: 0;
  --theme-lead-24-family-1-bold-paragraph-spacing: 0;
  --theme-lead-24-family-1-regular-font-family: Arial;
  --theme-lead-24-family-1-regular-font-weight: Regular;
  --theme-lead-24-family-1-regular-line-height: 36;
  --theme-lead-24-family-1-regular-font-size: 24;
  --theme-lead-24-family-1-regular-letter-spacing: 0;
  --theme-lead-24-family-1-regular-paragraph-spacing: 0;
  --theme-lead-24-family-2-bold-font-family: Avenir;
  --theme-lead-24-family-2-bold-font-weight: Heavy;
  --theme-lead-24-family-2-bold-line-height: 36;
  --theme-lead-24-family-2-bold-font-size: 24;
  --theme-lead-24-family-2-bold-letter-spacing: 0;
  --theme-lead-24-family-2-bold-paragraph-spacing: 0;
  --theme-lead-24-family-2-regular-font-family: Avenir;
  --theme-lead-24-family-2-regular-font-weight: Book;
  --theme-lead-24-family-2-regular-line-height: 36;
  --theme-lead-24-family-2-regular-font-size: 24;
  --theme-lead-24-family-2-regular-letter-spacing: 0;
  --theme-lead-24-family-2-regular-paragraph-spacing: 0;
  --theme-body-18-family-1-bold-font-family: Arial;
  --theme-body-18-family-1-bold-font-weight: Bold;
  --theme-body-18-family-1-bold-line-height: 32;
  --theme-body-18-family-1-bold-font-size: 18;
  --theme-body-18-family-1-bold-letter-spacing: 0;
  --theme-body-18-family-1-bold-paragraph-spacing: 0;
  --theme-body-18-family-1-regular-font-family: Arial;
  --theme-body-18-family-1-regular-font-weight: Regular;
  --theme-body-18-family-1-regular-line-height: 32;
  --theme-body-18-family-1-regular-font-size: 18;
  --theme-body-18-family-1-regular-letter-spacing: 0;
  --theme-body-18-family-1-regular-paragraph-spacing: 0;
  --theme-body-18-family-2-bold-font-family: Avenir;
  --theme-body-18-family-2-bold-font-weight: Heavy;
  --theme-body-18-family-2-bold-line-height: 32;
  --theme-body-18-family-2-bold-font-size: 18;
  --theme-body-18-family-2-bold-letter-spacing: 0;
  --theme-body-18-family-2-bold-paragraph-spacing: 0;
  --theme-body-18-family-2-regular-font-family: Avenir;
  --theme-body-18-family-2-regular-font-weight: Book;
  --theme-body-18-family-2-regular-line-height: 32;
  --theme-body-18-family-2-regular-font-size: 18;
  --theme-body-18-family-2-regular-letter-spacing: 0;
  --theme-body-18-family-2-regular-paragraph-spacing: 0;
  --theme-small-16-family-1-bold-font-family: Arial;
  --theme-small-16-family-1-bold-font-weight: Bold;
  --theme-small-16-family-1-bold-line-height: 28;
  --theme-small-16-family-1-bold-font-size: 16;
  --theme-small-16-family-1-bold-letter-spacing: 0;
  --theme-small-16-family-1-bold-paragraph-spacing: 0;
  --theme-small-16-family-1-regular-font-family: Arial;
  --theme-small-16-family-1-regular-font-weight: Regular;
  --theme-small-16-family-1-regular-line-height: 28;
  --theme-small-16-family-1-regular-font-size: 16;
  --theme-small-16-family-1-regular-letter-spacing: 0;
  --theme-small-16-family-1-regular-paragraph-spacing: 0;
  --theme-small-16-family-2-bold-font-family: Avenir;
  --theme-small-16-family-2-bold-font-weight: Heavy;
  --theme-small-16-family-2-bold-line-height: 28;
  --theme-small-16-family-2-bold-font-size: 16;
  --theme-small-16-family-2-bold-letter-spacing: 0;
  --theme-small-16-family-2-bold-paragraph-spacing: 0;
  --theme-small-16-family-2-regular-font-family: Avenir;
  --theme-small-16-family-2-regular-font-weight: Book;
  --theme-small-16-family-2-regular-line-height: 28;
  --theme-small-16-family-2-regular-font-size: 16;
  --theme-small-16-family-2-regular-letter-spacing: 0;
  --theme-small-16-family-2-regular-paragraph-spacing: 0;
  --theme-caption-14-family-1-bold-font-family: Arial;
  --theme-caption-14-family-1-bold-font-weight: Bold;
  --theme-caption-14-family-1-bold-line-height: 20;
  --theme-caption-14-family-1-bold-font-size: 14;
  --theme-caption-14-family-1-bold-letter-spacing: 0;
  --theme-caption-14-family-1-bold-paragraph-spacing: 0;
  --theme-caption-14-family-1-regular-font-family: Arial;
  --theme-caption-14-family-1-regular-font-weight: Regular;
  --theme-caption-14-family-1-regular-line-height: 20;
  --theme-caption-14-family-1-regular-font-size: 14;
  --theme-caption-14-family-1-regular-letter-spacing: 0;
  --theme-caption-14-family-1-regular-paragraph-spacing: 0;
  --theme-caption-14-family-2-bold-font-family: Avenir;
  --theme-caption-14-family-2-bold-font-weight: Heavy;
  --theme-caption-14-family-2-bold-line-height: 20;
  --theme-caption-14-family-2-bold-font-size: 14;
  --theme-caption-14-family-2-bold-letter-spacing: 0;
  --theme-caption-14-family-2-bold-paragraph-spacing: 0;
  --theme-caption-14-family-2-regular-font-family: Avenir;
  --theme-caption-14-family-2-regular-font-weight: Book;
  --theme-caption-14-family-2-regular-line-height: 20;
  --theme-caption-14-family-2-regular-font-size: 14;
  --theme-caption-14-family-2-regular-letter-spacing: 0;
  --theme-caption-14-family-2-regular-paragraph-spacing: 0;
  --theme-x-small-12-family-1-bold-font-family: Arial;
  --theme-x-small-12-family-1-bold-font-weight: Bold;
  --theme-x-small-12-family-1-bold-line-height: 20;
  --theme-x-small-12-family-1-bold-font-size: 12;
  --theme-x-small-12-family-1-bold-letter-spacing: 0;
  --theme-x-small-12-family-1-bold-paragraph-spacing: 0;
  --theme-x-small-12-family-1-regular-font-family: Arial;
  --theme-x-small-12-family-1-regular-font-weight: Regular;
  --theme-x-small-12-family-1-regular-line-height: 20;
  --theme-x-small-12-family-1-regular-font-size: 12;
  --theme-x-small-12-family-1-regular-letter-spacing: 0;
  --theme-x-small-12-family-1-regular-paragraph-spacing: 0;
  --theme-x-small-12-family-2-bold-font-family: Avenir;
  --theme-x-small-12-family-2-bold-font-weight: Heavy;
  --theme-x-small-12-family-2-bold-line-height: 20;
  --theme-x-small-12-family-2-bold-font-size: 12;
  --theme-x-small-12-family-2-bold-letter-spacing: 0;
  --theme-x-small-12-family-2-bold-paragraph-spacing: 0;
  --theme-x-small-12-family-2-regular-font-family: Avenir;
  --theme-x-small-12-family-2-regular-font-weight: Book;
  --theme-x-small-12-family-2-regular-line-height: 20;
  --theme-x-small-12-family-2-regular-font-size: 12;
  --theme-x-small-12-family-2-regular-letter-spacing: 0;
  --theme-x-small-12-family-2-regular-paragraph-spacing: 0;
  --theme-tiny-10-family-1-bold-font-family: Arial;
  --theme-tiny-10-family-1-bold-font-weight: Bold;
  --theme-tiny-10-family-1-bold-line-height: 16;
  --theme-tiny-10-family-1-bold-font-size: 10;
  --theme-tiny-10-family-1-bold-letter-spacing: 0;
  --theme-tiny-10-family-1-bold-paragraph-spacing: 0;
  --theme-tiny-10-family-1-regular-font-family: Arial;
  --theme-tiny-10-family-1-regular-font-weight: Regular;
  --theme-tiny-10-family-1-regular-line-height: 16;
  --theme-tiny-10-family-1-regular-font-size: 10;
  --theme-tiny-10-family-1-regular-letter-spacing: 0;
  --theme-tiny-10-family-1-regular-paragraph-spacing: 0;
  --theme-tiny-10-family-2-bold-font-family: Avenir;
  --theme-tiny-10-family-2-bold-font-weight: Heavy;
  --theme-tiny-10-family-2-bold-line-height: 16;
  --theme-tiny-10-family-2-bold-font-size: 10;
  --theme-tiny-10-family-2-bold-letter-spacing: 0;
  --theme-tiny-10-family-2-bold-paragraph-spacing: 0;
  --theme-tiny-10-family-2-regular-font-family: Avenir;
  --theme-tiny-10-family-2-regular-font-weight: Book;
  --theme-tiny-10-family-2-regular-line-height: 16;
  --theme-tiny-10-family-2-regular-font-size: 10;
  --theme-tiny-10-family-2-regular-letter-spacing: 0;
  --theme-tiny-10-family-2-regular-paragraph-spacing: 0;
  --theme-input-18-family-1-bold-font-family: Arial;
  --theme-input-18-family-1-bold-font-weight: Bold;
  --theme-input-18-family-1-bold-line-height: 28;
  --theme-input-18-family-1-bold-font-size: 18;
  --theme-input-18-family-1-bold-letter-spacing: 0;
  --theme-input-18-family-1-bold-paragraph-spacing: 0;
  --theme-input-18-family-1-regular-font-family: Arial;
  --theme-input-18-family-1-regular-font-weight: Regular;
  --theme-input-18-family-1-regular-line-height: 28;
  --theme-input-18-family-1-regular-font-size: 18;
  --theme-input-18-family-1-regular-letter-spacing: 0;
  --theme-input-18-family-1-regular-paragraph-spacing: 0;
  --theme-input-18-family-2-bold-font-family: Avenir;
  --theme-input-18-family-2-bold-font-weight: Heavy;
  --theme-input-18-family-2-bold-line-height: 28;
  --theme-input-18-family-2-bold-font-size: 18;
  --theme-input-18-family-2-bold-letter-spacing: 0;
  --theme-input-18-family-2-bold-paragraph-spacing: 0;
  --theme-input-18-family-2-regular-font-family: Avenir;
  --theme-input-18-family-2-regular-font-weight: Book;
  --theme-input-18-family-2-regular-line-height: 28;
  --theme-input-18-family-2-regular-font-size: 18;
  --theme-input-18-family-2-regular-letter-spacing: 0;
  --theme-input-18-family-2-regular-paragraph-spacing: 0;
  --theme-input-16-family-1-bold-font-family: Arial;
  --theme-input-16-family-1-bold-font-weight: Bold;
  --theme-input-16-family-1-bold-line-height: 24;
  --theme-input-16-family-1-bold-font-size: 16;
  --theme-input-16-family-1-bold-letter-spacing: 0;
  --theme-input-16-family-1-bold-paragraph-spacing: 0;
  --theme-input-16-family-1-regular-font-family: Arial;
  --theme-input-16-family-1-regular-font-weight: Regular;
  --theme-input-16-family-1-regular-line-height: 24;
  --theme-input-16-family-1-regular-font-size: 16;
  --theme-input-16-family-1-regular-letter-spacing: 0;
  --theme-input-16-family-1-regular-paragraph-spacing: 0;
  --theme-input-16-family-2-bold-font-family: Avenir;
  --theme-input-16-family-2-bold-font-weight: Heavy;
  --theme-input-16-family-2-bold-line-height: 24;
  --theme-input-16-family-2-bold-font-size: 16;
  --theme-input-16-family-2-bold-letter-spacing: 0;
  --theme-input-16-family-2-bold-paragraph-spacing: 0;
  --theme-input-16-family-2-regular-font-family: Avenir;
  --theme-input-16-family-2-regular-font-weight: Book;
  --theme-input-16-family-2-regular-line-height: 24;
  --theme-input-16-family-2-regular-font-size: 16;
  --theme-input-16-family-2-regular-letter-spacing: 0;
  --theme-input-16-family-2-regular-paragraph-spacing: 0;
  --theme-button-21-family-1-bold-font-family: Arial;
  --theme-button-21-family-1-bold-font-weight: Bold;
  --theme-button-21-family-1-bold-line-height: 32;
  --theme-button-21-family-1-bold-font-size: 21;
  --theme-button-21-family-1-bold-letter-spacing: 0;
  --theme-button-21-family-1-bold-paragraph-spacing: 0;
  --theme-button-21-family-1-regular-font-family: Arial;
  --theme-button-21-family-1-regular-font-weight: Regular;
  --theme-button-21-family-1-regular-line-height: 32;
  --theme-button-21-family-1-regular-font-size: 21;
  --theme-button-21-family-1-regular-letter-spacing: 0;
  --theme-button-21-family-1-regular-paragraph-spacing: 0;
  --theme-button-21-family-2-bold-font-family: Avenir;
  --theme-button-21-family-2-bold-font-weight: Heavy;
  --theme-button-21-family-2-bold-line-height: 32;
  --theme-button-21-family-2-bold-font-size: 21;
  --theme-button-21-family-2-bold-letter-spacing: 0;
  --theme-button-21-family-2-bold-paragraph-spacing: 0;
  --theme-button-21-family-2-regular-font-family: Avenir;
  --theme-button-21-family-2-regular-font-weight: Book;
  --theme-button-21-family-2-regular-line-height: 32;
  --theme-button-21-family-2-regular-font-size: 21;
  --theme-button-21-family-2-regular-letter-spacing: 0;
  --theme-button-21-family-2-regular-paragraph-spacing: 0;
  --theme-button-16-family-1-bold-font-family: Arial;
  --theme-button-16-family-1-bold-font-weight: Bold;
  --theme-button-16-family-1-bold-line-height: 28;
  --theme-button-16-family-1-bold-font-size: 16;
  --theme-button-16-family-1-bold-letter-spacing: 0;
  --theme-button-16-family-1-bold-paragraph-spacing: 0;
  --theme-button-16-family-1-regular-font-family: Arial;
  --theme-button-16-family-1-regular-font-weight: Regular;
  --theme-button-16-family-1-regular-line-height: 28;
  --theme-button-16-family-1-regular-font-size: 16;
  --theme-button-16-family-1-regular-letter-spacing: 0;
  --theme-button-16-family-1-regular-paragraph-spacing: 0;
  --theme-button-16-family-2-bold-font-family: Avenir;
  --theme-button-16-family-2-bold-font-weight: Heavy;
  --theme-button-16-family-2-bold-line-height: 28;
  --theme-button-16-family-2-bold-font-size: 16;
  --theme-button-16-family-2-bold-letter-spacing: 0;
  --theme-button-16-family-2-bold-paragraph-spacing: 0;
  --theme-button-16-family-2-regular-font-family: Avenir;
  --theme-button-16-family-2-regular-font-weight: Book;
  --theme-button-16-family-2-regular-line-height: 28;
  --theme-button-16-family-2-regular-font-size: 16;
  --theme-button-16-family-2-regular-letter-spacing: 0;
  --theme-button-16-family-2-regular-paragraph-spacing: 0;
  --theme-button-14-family-1-bold-font-family: Arial;
  --theme-button-14-family-1-bold-font-weight: Bold;
  --theme-button-14-family-1-bold-line-height: 20;
  --theme-button-14-family-1-bold-font-size: 14;
  --theme-button-14-family-1-bold-letter-spacing: 0;
  --theme-button-14-family-1-bold-paragraph-spacing: 0;
  --theme-button-14-family-1-regular-font-family: Arial;
  --theme-button-14-family-1-regular-font-weight: Regular;
  --theme-button-14-family-1-regular-line-height: 20;
  --theme-button-14-family-1-regular-font-size: 14;
  --theme-button-14-family-1-regular-letter-spacing: 0;
  --theme-button-14-family-1-regular-paragraph-spacing: 0;
  --theme-button-14-family-2-bold-font-family: Avenir;
  --theme-button-14-family-2-bold-font-weight: Heavy;
  --theme-button-14-family-2-bold-line-height: 20;
  --theme-button-14-family-2-bold-font-size: 14;
  --theme-button-14-family-2-bold-letter-spacing: 0;
  --theme-button-14-family-2-bold-paragraph-spacing: 0;
  --theme-button-14-family-2-regular-font-family: Avenir;
  --theme-button-14-family-2-regular-font-weight: Book;
  --theme-button-14-family-2-regular-line-height: 20;
  --theme-button-14-family-2-regular-font-size: 14;
  --theme-button-14-family-2-regular-letter-spacing: 0;
  --theme-button-14-family-2-regular-paragraph-spacing: 0;
}