.default-theme {
  --theme-bg-default: #ffffff;
  --theme-bg-header: #000000;
  --theme-bg-footer: #000000;
  --theme-bg-surface: #ffffff;
  --theme-bg-surface-alt: #f9f9fa;
  --theme-bg-primary: #0d6346;
  --theme-bg-secondary: #adb4bc;
  --theme-bg-subtle: #eceef0;
  --theme-bg-muted: #cfd3d8;
  --theme-bg-promo: #f00;
  --theme-fg-default: #000000;
  --theme-fg-on-primary: #ffffff;
  --theme-fg-on-secondary: #ffffff;
  --theme-fg-on-header: #ffffff;
  --theme-fg-on-footer: #ffffff;
  --theme-fg-muted: #7f8a97;
  --theme-fg-subtle: #adb4bc;
  --theme-fg-link: #0d6346;
  --theme-fg-promo: #f00;
  --theme-fg-on-promo: #ffffff;
  --theme-button-primary-background: #0d6346;
  --theme-button-ghost-outline: #000000;
  --theme-button-ghost-text: #000000;
  --theme-border-width-button-ghost: 4;
  --theme-border-radius-button: 0;
  --theme-border-radius-card: 0;
  --theme-border-radius-input: 0;
  --theme-font-families-display: Monument Extended;
  --theme-font-families-body: Avenir;
  --theme-font-families-nav: Avenir;
  --theme-font-sizes-default: 16;
}